.body-s {
    background: #ffffff;
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(90deg, #0a0210, #000000);
}


.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
}

label {
    color: #ff9e01;
    font-family: 'Montserrat', sans-serif;

}

.title {
    color: #ff9e01;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
}

#cont-form {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
}

#raitingValue {
    color: #ff9e01;
    font-family: 'Montserrat', sans-serif;
}

#hero {
    color: #ff9e01;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}